---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div class="bg-amber-300 rounded-[2vw] h-full drop-shadow-xl">
	<main class="mx-auto text-left">
		<section class="mx-auto p-[4vw]">
			<h1 class="pb-2 pt-[4vw] text-6xl text-zinc-600">
				Arlo Fenn
			</h1>
			<p class="text-xl text-zinc-600">Footwear Designer / Shoemaker</p>
			<br>
			<p><a class="text-xl text-zinc-600" href="mailto:arlofenn@gmail.com">arlofenn@gmail.com</a></p>
			<p class="text-xl text-zinc-600">07927 651937</p>

		</section>
	</main>
</div>

